<!-- <h1>Welcome to Chatter</h1>

<p>Current peeps:</p>
<ul>
	<% @peeps.each do |peep| %>
		<%= partial :peep, :locals => {:peep => peep } %>
	<% end %>
</ul> -->


<!DOCTYPE html>
<html>
<head>
	<title>Chatter</title>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav>
		<section id="logo">
			<a href='/'>Chatter</a>
		</section>
		<section id="newpeep">
		<a href="/peeps/new" class="button">Peep</a>
		</section>
		<%= partial :flash %>
		<% if current_user %>
		<section id="signout">
			Welcome, <%= current_user.name %>
			<form method="post" action="/sessions">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Sign out" class="button">
			</form>
		</section>
		<% else %>
			<section id="signup">
			<a href='/sessions/new' id='sign-in' class='button'>Sign in!</a>
			<a href='/users/new' id='sign-up' class='button'>Sign up!</a>
			</section>
		<% end %>
	</nav>
	<section id='newpeep'>
		<h1>Enter your new peep</h1>
			<form action='/peeps' method='post'>
				<input type="text" name="title" placeholder="Title">
				<input type="text" name="text" placeholder="Compose new peep">
				<input type="submit" value="Peep" class="button">
			</form>
	</section>
	<article id='profile'>
		<% if current_user %>
		<header>
			<img src=''/>
		</header>
		<h1><%= current_user.username %></h1>
		<h2><%= current_user.name %></h2>
		<section id='newpeeps'>
			<form action='/peeps' method='post'>
				<input type="text" name="title" placeholder="Title">	
				<input type="text" name="text" placeholder="Compose new peep">	
				<input type="submit" value="Peep" class="button">	
			</form>
		</section>
		<% end %>
	</article>
	<article id='peeps'>
		<header>Peeps</header>
	</article>
	<template id='peepTemplate'>
		<article>
			<h1>{{title}}</h1>
			<h2>{{text}}</h2>
			<p>{{username}}</p>
		</article>
	</template>
	<script type='text/javascript' src='jquery-2.1.1.min.js'></script>
	<script type='text/javascript' src='handlebars=v2.0.0.js'></script>
	<script>
	</script>
</body>
</html>